<div class="fieldset">
    <p class="small reqlabel">Conference name</p>
    <%= f.text_field :conferenceName, :value=>@conference.conferenceName.first, :style=>'width: 60%', data: {"progress" => "discoverability"} %>
    <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Conference name", :tipDescription =>"If you would like to tell us the name of the conference, enter it here" } %>
</div>

<div class="fieldset">
    <p class="small">Conference abbreviation</p>
    <%= f.text_field :conferenceAbbreviation, :value=>@conference.conferenceAbbreviation.first, :style=>'width: 60%', data: {"progress" => "discoverability"} %>
    <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Conference abbreviation", :tipDescription =>"If you would like to tell us the abbreaviation of your conference, enter it here" } %>
</div>

<div class="fieldset">
    <p class="small">Conference homepage</p>

    <%= f.text_field :conferenceHomepage, :value=>@conference.conferenceHomepage.first, :style=>'width: 60%', data: {"progress" => "discoverability"} %>
    <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Conference homepage", :tipDescription =>"If you would like to tell us the link to your conference homepage, enter it here" } %>
</div>



<%# if  @conference.conferenceDate.empty? %>
    <%# @conference.conferenceDate.build %>
<%# end %>

<%# if @conference.conferenceDate[0].start.empty? %>
    <%# @conference.conferenceDate[0].start.build %>
<%# end %>

<%# if @conference.conferenceDate[0].duration.empty? %>
    <%# @conference.conferenceDate[0].duration.build %>
<%# end %>

<%# if @conference.conferenceDate[0].end.empty? %>
    <%# @conference.conferenceDate[0].end.build %>
<%# end %>

<div class="fieldset">
  <p class="small">Conference Start Date</p>
  <%#= f.date_field :start, :value=>@conference.conferenceDate[0].start[0].date.first, :style=>'width: 60%', data: {"progress" => "discoverability"} %>
  <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Time", :tipDescription =>"If you would like to tell us the start date of the conference, enter it here" } %>
</div>


<div class="fieldset">
    <p class="small">Conference Duration</p>
    <div class="row">
        <div class="col col1of2"><label>Years</label></div>
        <div class="col col2of2"><label>Months</label></div>
    </div>
    <div class="row">
        <div class="col col1of2">
            <%#= f.text_field :years, :value=>@conference.conferenceDate[0].duration[0].years.first, maxlength: "2", size: "2", data: {"progress" => "discoverability"} %>
        </div>
        <div class="col col2of2">
            <%#= f.text_field :months, :value=>@conference.conferenceDate[0].duration[0].months.first, maxlength: "2", size: "2", data: {"progress" => "discoverability"} %>
        </div>
    </div>
    <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Time", :tipDescription =>"If you would like to tell us the duration of the conference, enter it here" } %>
</div>


<div class="fieldset">
    <p class="small">Conference End Date</p>
    <%#= f.date_field :end, :value=>@conference.conferenceDate[0].end[0].date.first, :style=>'width: 60%', data: {"progress" => "discoverability"} %>
    <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Time", :tipDescription =>"If you would like to tell us the end date of the conference, enter it here" } %>
</div>

<div class="fieldFt">
    <p class="small">Season</p>
    <%= f.text_field :season, :value=>@conference.season.first, :style=>'width: 60%', data: {"progress" => "discoverability"} %>
    <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Season", :tipDescription =>"If you would like to tell us the season of your conference, enter it here" } %>
</div>

<!--<div class="fieldset">-->
    <!--<%# if @conference.spatial.empty? %>-->
        <!--<%# @conference.spatial.build %>-->
    <!--<%# end %>-->
    <!--<p class="small">Location</p>-->
    <!--<%#= f.text_field "spatial][value", :value=>@conference.spatial.first.value.first, :style=>'width: 50%', data: {"progress" => "discoverability"} %>-->
    <!--<%#= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Location", :tipDescription =>"If you would like to tell us the location of your conference, enter it here" } %>-->
<!--</div>-->

<div class="fieldset">
    <p class="small">Conference organization</p>
    <% if @conference.wasAssociatedWith.empty? %>
        <% @conference.wasAssociatedWith.build %>
    <% end %>

    <% @conference.wasAssociatedWith.each do |p| %>
        <%= f.fields_for :conferenceOrganization, p do |f_p| %>
            <%= f_p.text_field :name, :value=>p.name.first, :style=>'width: 60%', data: {"progress" => "discoverability"} %>
            <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Conference organization", :tipDescription =>"If you would like to tell us the name of the conference organization, enter it here" } %>
        <% end %>
    <% end %>
</div>