
    <%= hidden_field_tag(:pid, @pid) %>
    <%= hidden_field_tag(:redirect_field, flash[:redirect_field]) %>


    <div class="content-box padding-0">
        <h4 class="padding-side-25">About the conference</h4>
        <div class="padding-0">
            <%= render partial: "conference_describe_fields_edit", as: :conference, :locals => { :f => f } %>
        </div>
    </div>


    <div class="content-box padding-0">
        <h4 class="padding-side-25">
            Add conference proceeding information to your conference
        </h4>
        <div class="padding-0">
            <div class="fieldset">
                <% if @conference.conferenceProceeding.empty? %>
                    <% @conference.conferenceProceeding.build %>
                <% end %>

                <% @conference.conferenceProceeding.each do |p| %>
                    <%= f.fields_for :conferenceProceeding, p do |f_p| %>
                        <p class="small">Conference Proceeding Title</p>
                        <%= f_p.text_field :title,:value=>p.title.first, :required=>false, :style=>'width: 60%', data: {"progress" => "discoverability"} %>
                        <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Conference proceeding title", :tipDescription =>"If you would like to tell us the conference proceeding title of your conference, enter it here" } %>


                        <p class="small">ISSN</p>
                        <%= f_p.text_field :issn,:value=>p.issn.first, :required=>false, :style=>'width: 60%', data: {"progress" => "discoverability"} %>

                        <p class="small">EISSN</p>
                        <%= f_p.text_field :eissn,:value=>p.eissn.first, :required=>false, :style=>'width: 60%', data: {"progress" => "discoverability"} %>

                        <p class="small">ISBN</p>
                        <%= f_p.text_field :isbn,:value=>p.isbn.first, :required=>false, :style=>'width: 60%', data: {"progress" => "discoverability"} %>

                        <p class="small">Volume</p>
                        <%= f_p.text_field :volume,:value=>p.volume.first, :required=>false, :style=>'width: 60%', data: {"progress" => "discoverability"} %>

                        <p class="small">Pages</p>
                        <%= f_p.text_field :pages,:value=>p.pages.first, :required=>false, :style=>'width: 60%', data: {"progress" => "discoverability"} %>


                        <% if p.conferenceProceedingAttributor.empty? %>
                            <% p.conferenceProceedingAttributor.build %>
                        <% end %>

                        <% p.conferenceProceedingAttributor.each do |p| %>
                            <%= f.fields_for :conferenceProceedingAttributor, p do |f_p0| %>
                                <p class="small">Conference Proceeding Attributor name </p>
                                <%= f_p0.text_field :name,:value=>p.name.first, :required=>false, :style=>'width: 60%',  :class=>"creatorName", data: {"progress" => "discoverability"} %>
                                <% attr_desc = "Please enter the name of a conference proceeding attributor. If the person is based at Oxford, their name should auto-complete as you type so you can select the correct name from the list displayed."%>
                                <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Conference proceeding attributor", :tipDescription => attr_desc } %>
                                <!--<p class="small">OR</p>-->
                                <!--<p class="small reqlabel">Conference Proceeding Attributor </p>-->
                                <%#= f_p0.text_field :sameAs,:value=>p.sameAs.first, :required=>true, :style=>'width: 60%', data: {"progress" => "discoverability"} %>
                                <%#= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "ConferenceProceedingAttributor", :tipDescription =>"If you would like to tell us the name of the conference  proceeding attributor, enter it here" } %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>


    <div class="content-box padding-0">
        <h4 class="padding-side-25">
            About you
        </h4>
        <div class="padding-0">
            <%= render partial: 'shared/creation_activity_fields_edit', :locals => { :f => f, :creation => @conference.creation, :label => "creator", :required => true } %>
        </div>
    </div>


    <% if can? :review, :all %>
        <!-- <section class="form-step"> -->
        <div class="content-box padding-0">
            <h4 class="padding-side-25">
                Review workflow
            </h4>
            <div class="padding-25 no-pad-top no-pad-bottom">
                <%= render partial: 'shared/workflow_edit', :locals => { :f => f, :article => @conference } %>
            </div>
        </div>

        <div class="content-box padding-0">
            <div class="padding-25 no-pad-top no-pad-bottom">
                <%= render partial: "shared/workflow_show", :locals => { :article => @conference } %>
            </div>
        </div>

        <% if !@conference.permissions.nil? && !@conference.permissions.empty? %>
            <div class="content-box padding-0">
                <div class="content-box-header expand-header">
                    <div class="space-right">Set permissions</div>
                </div>
                <div class="expand-content">
                    <%= render partial: "shared/permissions_edit", :locals => {:f => f, :permissions => @conference.permissions, :depositor => @conference.workflowMetadata.depositor[0]} %>
                </div>
            </div>
        <% end %>
    <% end %>

    <!-- <nav class="form-nav" style="margin-top: 20px;">
        <div class="form-nav-next" style="text-align: right">
            <%# unless can? :review, :all %>
        <%#= f.submit "Save", class: "button light-blue", :onclick => "setStatus(\"workflow_submit_entries_status\", \"default\")", data: {"submit-without-validation" => true} %>
            <%#= render partial: "shared/workflow_submit", :locals => {:f => f, :article => @conference, :validate => true} %>
        <%# else %>
            <%#= f.submit "Save", class: "button light-blue", data: {"submit-without-validation" => true} %>
                <%#= f.submit "Check mandatory fields and Save", class: "button light-blue" %>
                <%# end %>
        </div>
    </nav> -->

