<h4 class="padding-side-25">Conference Activity information</h4>

<% if conferenceActivity.empty? %>
    <% conferenceActivity.build %>
<% end %>

<% conferenceActivity.each do |c| %>
    <%= f.fields_for :conferenceActivity, c do |f_p| %>
    <div class="fieldset">
        <p class="small">Documentation status</p>
        <%= f_p.select :documentationStatus, options_for_select(Sufia.config.documentation_status, :selected=>c.documentationStatus.first), { :include_blank => 'Select status' }, data: {"progress" => "discoverability"} %>
        <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "Publication status" , :tipDescription => "What is the status of your conference activity?" } %>
    </div>
    <div class="fieldset">
        <p class="small">Review status</p>
        <%= f_p.select :reviewStatus, options_for_select(Sufia.config.review_status, :selected=>c.reviewStatus.first), { :include_blank => 'Select status' }, data: {"progress" => "discoverability"} %>
        <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability" , :tipTitle => "Review status" , :tipDescription => "Has your conference activity been through a reviewed process and if yes, what is the status?" } %>
    </div>

    <div class="fieldset">
        <p class="small">Date Accepted</p>
        <%= f.date_field :dateAccepted, :value=>c.dateAccepted.first, :style=>'width: 60%', data: {"progress" => "discoverability"} %>
        <%= render partial: '/shared/tooltip', :locals => {:tipType => "discoverability", :tipTitle => "Abstract", :tipDescription =>"If you would like to give us the date accepted, enter it here." } %>
    </div>
    <% end %>
<% end %>

